/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --light-text-color: rgba(255, 255, 255, 1);
  --dark-text-color: rgba(1, 5, 9, 1);
  --light-bg-color: rgba(255, 255, 255, 1);
  --dark-bg-color: rgba(1, 5, 9, 1);
  --accent-color: #FA1317;
}